body{background-color: #fefefe; }
.container{max-width: 750px; margin-left: auto; margin-right: auto; background: #fff; padding:10px 20px; }
.container img{max-width:100%;}
.navbar-nav{margin: 0;}
.navbar-nav>li {float: left;}
.nav>li { position: relative;display: block;}
.nav {padding-left: 0;margin-bottom: 0;list-style: none;}
.nav>li>a {position: relative;display: block;padding: 10px 15px;}
ul>li{position:relative;}
ul>li>small{position:absolute; right:0}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
[v-cloak]{ display: none!important; } 
