body{background-color: #fefefe; }

#header1{background: #fff;  position: fixed;z-index:20;top:0;left:0;right:0; box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);}

.container{max-width: 700px; margin-left: auto; margin-right: auto; background: #fff; padding: 20px; }
.container img{max-width:100%;}

.navbar-nav{margin: 0;}
.navbar-nav>li {float: left;}

.nav>li { position: relative;display: block;}
.nav {padding-left: 0;margin-bottom: 0;list-style: none;}
.nav>li>a {position: relative;display: block;padding: 10px 15px;}

ul>li{position:relative;}
ul>li>small{position:absolute; right:0}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

[v-cloak]{ display: none!important; } 
